<div v-if="auth">
  <app-header></app-header>
  <div class="container app-body">
    <app-breadcrumbs :current="breadcrumbs"></app-breadcrumbs>
    <div class="page-header">
      <h1 class="title bb-blue">{{ 'welcome'|t }} {{ username }}. {{ 'we_are_glad_to_see_you'|t }}</h1>
    </div>
    <div class="row">
      <api-status-alerts class="col-md-8"></api-status-alerts>
    </div>
    <div class="row">
      <div class="col-md-8 ">
        <template v-if="bookings.length > 0"></template>
        <template v-else>{{ 'no_bookings_text'|t }} </template>
        <my-booking v-for="booking in bookings" :booking="booking" :key="booking.baja_id"></my-booking>
        <button @click="loadBookings()" v-if="showLoadMore" class="btn btn-primary load-more" style="width: 100%;">{{ "load_more"|t }}</button>
      </div>
      <div class="clearfix hidden-sm-up"></div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-default">
              <div class="card-heading">
                <h3 class="card-title">
                    <i class="fa fa-user"></i>
                    <span>{{ 'my_details' | t }}</span>
                    <router-link :to="{ name: 'profile-page' }">{{ 'edit_profile' | t }}</router-link>
                </h3>
              </div>
              <my-details></my-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
