<div class="row sidenav">
  <div class="col-sm-12 hidden-sm-down">
    <ul class="sidenav-list">
      <li>
        <router-link class="sidenav-item" :to="{ name: 'account-page'}">{{ 'my_bookings'|t }}</router-link>
      </li>
      <li>
        <router-link class="sidenav-item" :to="{ name: 'profile-page'}">{{ 'edit_profile'|t }}</router-link>
      </li>
      <li>
        <router-link class="sidenav-item" :to="{ name: 'password-change-page'}">{{ "change_password"|t }}</router-link>
      </li>
      <li>
        <router-link class="sidenav-item" :to="{ name: 'reviews-page'}">{{ 'reviews_page'|t }}</router-link>
      </li>
      <!-- <li>
        <router-link class="sidenav-item" :to="{ name: 'booking-pref-page'}">{{ "booking_preferences"|t }}</router-link>
      </li> -->
      <li>
        <router-link class="sidenav-item" :to="{ name: 'communications-pref-page'}">{{ "communication_preferences"|t }}</router-link>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 hidden-md-up sidenav-select">
    <b-nav-item-dropdown text='Go to'>
      <router-link class="sidenav-item" :to="{ name: 'account-page'}">{{ 'my_bookings'|t }}</router-link>
      <router-link class="sidenav-item" :to="{ name: 'profile-page'}">{{ 'edit_profile'|t }}</router-link>
      <router-link class="sidenav-item" :to="{ name: 'password-change-page'}">{{ "change_password"|t }}</router-link>
      <router-link class="sidenav-item" :to="{ name: 'reviews-page'}">{{ 'reviews_page'|t }} </router-link>
      <!-- <router-link class="sidenav-item" :to="{ name: 'booking-pref-page'}">{{ "booking_preferences"|t }} </router-link> -->
      <router-link class="sidenav-item" :to="{ name: 'communications-pref-page'}">{{ "communication_preferences"|t }}</router-link>
    </b-nav-item-dropdown>
  </div>
</div>
