<div class="app-header">
  <div class="d-none d-md-block" id="fixed-top-bar">
    <div class="container">
      <a href="#">
        <div id="about-us" class="float-left text-center"> <img height="30" :src="aboutUsIcon" alt="about-us"> {{ "about_us"|t }} </div>
      </a>
      <a href="#">
        <div id="how-does-it-work" class="float-left text-center"> <img height="20" :src="infoIcon" alt="info"> {{ "how_it_works"|t }} </div>
      </a>
      <div id="fixed-top-bar-right" class="float-right">
        <div id="lang-switch" class="text-center float-left">
          <b-nav-item-dropdown :text="locale" right>
            <b-dropdown-item @click="set_locale('en')" href="#">
              <img class="flag" height="13" :src="enLangIcon" alt="English"> English
            </b-dropdown-item>
            <b-dropdown-item @click="set_locale('nl')" href="#">
              <img class="flag" height="13" :src="nlLangIcon" alt="Nederlands"> Nederlands
            </b-dropdown-item>
            <b-dropdown-item @click="set_locale('de')" href="#">
              <img class="flag" height="13" :src="deLangIcon" alt="Nederlands"> Deutsch
            </b-dropdown-item>
            <b-dropdown-item @click="set_locale('es')" href="#">
              <img class="flag" height="13" :src="esLangIcon" alt="Nederlands"> Español
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </div>
        <a href="#">
          <div id="contact" class="float-left text-center"> <img height="30" :src="contactIcon" alt="contact"> <span>{{ "contact"|t }}</span></div>
        </a>
        <a href="#">
          <div id="whatsapp" class="float-left text-center"> <img height="20" :src="whatsappIcon" alt="whatsapp"> <span>{{ "whats_app"|t }}</span></div>
        </a>
        <a href="#" id="auth0-login" v-if="auth" @click="login()">
          <div class="float-left text-center title">
            <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> <span>{{ "login"|t }}</span>
          </div>
        </a>
        <a href="#" id="auth0-login" v-if="!auth" @click="logout()">
          <div class="float-left text-center title">
            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> <span>{{ "logout"|t }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default yamm d-none d-md-block">
    <div class="container">
      <b-navbar toggleable="md">
        <b-navbar-brand href="/">
          <img :src="logoIcon" alt="logo">
        </b-navbar-brand>
        <b-navbar-nav v-if="primary_menu">
          <template v-for="(item, index) in primary_menu">
            <template v-if="item.children">
              <b-nav-item-dropdown ref="primaryMenuDropdown" :key="index" :extraToggleClasses="'dropdown' + index" @mouseover.native="hover_on(item, index)" @mouseleave.native="hover_over(item, index)" :active="item.disabled" :text="item.title">
                <b-dropdown-item v-for="item_chil in item.children" :href="item_chil.url" :key="item_chil.id">
                  {{ item_chil.title }}
                </b-dropdown-item>
              </b-nav-item-dropdown>
            </template>
            <template v-else>
              <b-nav-item ref="primaryMenuDropdown"  :href="item.url">{{ item.title }}</b-nav-item>
            </template>
          </template>
        </b-navbar-nav>
      </b-navbar>
    </div>
  </nav>
  <nav class="navbar navbar-mobile d-md-none">
    <a href="#" class="btn mobile-menu-button" v-html="localeMob" @click="displayLeftSidebar = true; displayRightSidebar = false;"></a>
    <a class="navbar-brand logo" href="/">
        <img class="img-fluid" :src="logoIcon" alt="logo">
    </a>
    <a href="#" class="btn float-right mobile-menu-button" @click="displayRightSidebar = true; displayLeftSidebar = false;">
      <i class="fa fa-whatsapp"></i>
      <img :src="supportIcon" alt="support" height="25">
    </a>
  </nav>
  <div class="left-side-collapse" v-if="displayLeftSidebar" @mouseleave="leftSidebarMouseleave">
    <button type="button" class="close visible-xs" aria-label="Close" @click="displayLeftSidebar = false"> <span aria-hidden="true">×</span></button>
    <b-btn v-b-toggle.locale v-html="localeMobMenu"></b-btn>
    <b-collapse id="locale" is-nav accordion="mobile-menu">
      <b-dropdown-item @click="set_locale('en')" href="#" v-if="localeCode != 'en'">
        <img class="flag" height="13" :src="enLangIcon" alt="English"> English
      </b-dropdown-item>
      <b-dropdown-item @click="set_locale('nl')" href="#" v-if="localeCode != 'nl'">
        <img class="flag" height="13" :src="nlLangIcon" alt="Nederlands"> Nederlands
      </b-dropdown-item>
      <b-dropdown-item @click="set_locale('de')" href="#" v-if="localeCode != 'de'">
        <img class="flag" height="13" :src="deLangIcon" alt="Nederlands"> Deutsch
      </b-dropdown-item>
      <b-dropdown-item @click="set_locale('es')" href="#" v-if="localeCode != 'es'">
        <img class="flag" height="13" :src="esLangIcon" alt="Nederlands"> Español
      </b-dropdown-item>
    </b-collapse>
    <span class="visible-xs menu-title">Go to...</span>
    <template v-for="(item, index) in primary_menu">
      <b-btn v-b-toggle="'collapse-' + index" v-if="item.children" :key="index" :extraToggleClasses="'dropdown' + index">
        {{ item.title }} <i class="fa fa-angle-right" aria-hidden="true"></i>
      </b-btn>
      <b-collapse :id="'collapse-' + index" is-nav v-if="item.children" accordion="mobile-menu">
        <b-dropdown-item v-for="item_chil in item.children" :href="item_chil.url" :key="item_chil.id">
          {{ item_chil.title }}
        </b-dropdown-item>
      </b-collapse>
      <b-nav-item v-else :href="item.url">{{ item.title }}</b-nav-item>
    </template>
  </div>
  <div class="right-side-collapse d-md-none" v-if="displayRightSidebar" @mouseleave="rightSidebarMouseleave">
    <button @click="displayRightSidebar = false" type="button" class="close visible-xs float-left" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    <ul class="list-unstyled">
      <li class="menu-title text-center">Neem contact op!</li>
      <li class="text-center">We horen graag van je.</li>
      <li class="links"> <span class="fa-stack fa-lg bb-blue"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-phone fa-stack-1x fa-inverse"></i> </span> <span>0034 646252199</span></li>
      <li class="links"> <span class="fa-stack fa-lg bb-blue"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i> </span> <span>+34646252199</span></li>
      <li class="links"> <span class="fa-stack fa-lg bb-blue"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i> </span> <a href="mailto:info@bajabikes.eu">info@bajabikes.eu</a></li>
      <li class="links"> <span class="fa-stack fa-lg bb-blue"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </span> <a href="https://www.facebook.com/bajabikes.english" target="_blank">Bajabikes.nl</a></li>
      <li class="links"> <span class="fa-stack fa-lg bb-blue"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse"></i> </span> <a href="https://twitter.com/bajabikes" target="_blank">@bajabikes</a></li>
    </ul>
  </div>
</div>
