@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");

img.auth0-lock-custom-icon {
  opacity: 0.5;
  width: 12px;
}

.bb-blue {
  color: #2d508e;
}

.gray {
  -webkit-filter: grayscale(1);
  background-color: rgba(6, 6, 6, 0.1);
  filter: gray;
  filter: grayscale(1);
}

span.custom-control-indicator {
  border-radius: 0px!important;
  height: 22px;
  width: 22px;
}

body {
  background: #fff;
  color: #888;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 26px;
}

a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #2d508e;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  color: #999;
  outline: 0 !important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 0px;
}

.lead small {
  font-size: 13px;
}

.label-primary {
  background: #2d508e;
}

.label {
  font-weight: 400;
}

label {
  font-weight: 400;
}

.label-danger {
  background: #f5303e;
}

.overflow-hidden {
  overflow: hidden;
}

input,
input[type="text"],
input[type="email"],
textarea,
.form-control {
  -moz-border-radius: 0px;
  -moz-box-shadow: none;
  -ms-border-radius: 0px;
  -ms-box-shadow: none;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: none;
  border-color: #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  min-height: 40px;
}

input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
.form-control:focus {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #2489C5;
  box-shadow: none;
}

.form-section {}

.icheckbox_square-blue {
  margin-right: 8px;
}

.title-font {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.font-700 {
  font-weight: 700 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-900 {
  font-weight: 900 !important;
}

.margin-b-10 {
  margin-bottom: 10px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

.margin-b-30 {
  margin-bottom: 30px !important;
}

.margin-b-40 {
  margin-bottom: 40px !important;
}

.margin-b-50 {
  margin-bottom: 50px !important;
}

.margin-b-60 {
  margin-bottom: 60px !important;
}

.margin-b-70 {
  margin-bottom: 70px !important;
}

.space-10 {
  height: 10px;
}

.space-20 {
  height: 20px;
}

.space-30 {
  height: 30px;
}

.space-40 {
  height: 40px;
}

.space-50 {
  height: 50px;
}

.space-60 {
  height: 60px;
}

.space-70 {
  height: 70px;
}

.space-80 {
  height: 80px;
}

.rating {
  color: #26bbad;
}

.text-small {
  font-size: 13px !important;
  line-height: 22px;
}

.text-white {
  color: #fff !important;
}

.grey-bg {
  background-color: #f5f5f5;
}

.text-primary {
  color: #2d508e;
}

th {
  font-weight: 500 !important;
}

button:focus,
input [type="submit"]:focus {
  outline: 0 !important;
}

.sidenav {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.sidenav:before,
.sidenav:after {
  content: " ";
  display: table;
}

.sidenav-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.sidenav-text,
.sidenav-item {
  color: #767676;
  display: block;
  font-size: 16px;
  padding: 6px 0;
}

.router-link-exact-active {
  color: #484848;
  font-weight: bold;
  text-decoration: none;
}

.page-breadcrumb {
  background: url(../img/bg1.jpg) no-repeat;
  background-position: 0 50%;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 150px;
}

.page-breadcrumb h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.parallax-banner {
  background: url(../img/bg1.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 0 50%;
  background-size: cover;
  padding-bottom: 150px;
  padding-top: 250px;
}

.parallax-banner h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.parallax-banner p {
  color: rgba(255, 255, 255, 0.9);
}

.social-icons a {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #ddd;
  border-radius: 50%;
  color: #ddd;
  display: block;
  height: 32px;
  line-height: 25px;
  text-align: center;
  width: 32px;
}

.social-icons a i {
  display: block;
  line-height: 32px;
}

.social-icons a:hover {
  background-color: #2d508e;
  border-color: #2d508e;
  color: #fff;
}

html.footer-sticky,
.footer-sticky body,
.maintenance-page,
.maintenance-page body {
  height: 100%;
}

@media (min-width: 768px) {
  .footer-sticky .page-footer-sticky {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100%;
  }
  .footer-sticky .page-footer-sticky .footer-sticky-wrap {
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    height: auto;
    min-height: 0;
    min-height: 100%;
    position: relative;
    right: 0;
  }
  .footer-sticky .page-footer-sticky .footer-sticky-wrap .footer-sticky-inner {
    position: relative;
    width: 100%;
  }
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table .vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.maintenance-page-wrap {
  background: url(../img/bg1.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.maintenance-page-wrap a img {
  margin-bottom: 20px;
}

.maintenance-page-wrap p {
  -webkit-opacity: 0.9;
  color: #fff;
  opacity: 0.9;
}

.timeto figcaption {
  color: #fff;
}

.pagination>li>a,
.pagination>li>span {
  color: #2d508e;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #2d508e;
  border-color: #2d508e;
}

.dropcap-text:first-letter {
  color: #2d508e;
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
}

.dropcap-bg:first-letter {
  background-color: #2d508e;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
}

.modal-boland .modal-content {
  padding: 30px 15px;
  position: relative;
}

.modal-boland .modal-content button.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-bg .modal-content {
  background: url(../img/bg1.jpg) no-repeat;
  color: #fff;
}

.modal-bg .modal-content button.close {
  color: #fff;
  opacity: 1;
}

.modal-bg .modal-content h3 {
  color: #fff;
}

.scrolltotop {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: transparent;
  bottom: 10px;
  color: #2d508e;
  display: none;
  font-weight: bold;
  line-height: 0px;
  opacity: 0.5;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  z-index: 9999;
}

.scrolltotop i.material-icons {
  font-size: 40px;
}

.scrolltotop:hover {
  color: #2d508e;
  opacity: 1;
  text-decoration: none;
}

.btn-link {
  color: #999;
  letter-spacing: 9px;
  padding: 0px 0px !important;
  text-decoration: none;
}

.btn {
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  border: 0px;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.btn.btn-rounded {
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.btn {
  padding: 10px 20px 10px;
}

.btn-lg {
  padding: 14px 30px 14px;
}

.btn-xl {
  padding: 16px 35px 16px;
}

.btn-xs {
  padding: 6px 12px;
}

.btn-primary {
  background: #2d508e;
  color: #fff;
}

.btn-primary:hover {
  background: #333;
  color: #fff;
}

.btn-primary:focus {
  background: #2d508e;
  color: #fff;
}

.btn-default {
  background: #eee;
  color: #333;
}

.btn-default:hover {
  background: #ddd;
  color: #333;
}

.btn-default:focus {
  background: #eee;
  color: #333;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #111;
  color: #fff;
}

.btn-dark:focus {
  background: #333;
  color: #fff;
}

.btn-google {
  background: #d73d32;
}

.btn-facebook {
  background: #3b5998;
}

.btn-social {
  color: #fff;
}

.btn-social i {
  margin-right: 10px;
}

.btn-social:hover {
  color: #fff;
  opacity: 0.9;
}

.btn-default-border {
  background: transparent;
  border: 1px solid #eee;
  color: #999;
}

.btn-default-border:hover {
  background: #eee;
  color: #999;
}

.btn-default-border:focus {
  background: transparent;
  border: 1px solid #eee;
  color: #999;
}

.btn-dark-border {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.btn-dark-border:hover {
  background: #333;
  color: #fff;
}

.btn-dark-border:focus {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.btn-primary-border {
  background: transparent;
  border: 1px solid #2d508e;
  color: #2d508e;
}

.btn-primary-border:hover {
  background: #2d508e;
  color: #fff;
}

.btn-primary-border:focus {
  background: transparent;
  border: 1px solid #2d508e;
  color: #2d508e;
}

.btn-danger-border {
  background: transparent;
  border: 1px solid #f5303e;
  color: #f5303e;
}

.btn-danger-border:hover {
  background: #f5303e;
  color: #fff;
}

.btn-danger-border:focus {
  background: transparent;
  border: 1px solid #f5303e;
  color: #f5303e;
}

.btn-cta {
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  background: #00ab3d;
  border: none;
  border-radius: 7px;
  color: #ffd141;
  float: left;
  font-size: 20px;
  outline: none;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
  width: 100%;
}

.btn-cta:hover {
  background: #ffd141;
  color: #fff;
}

.btn-cta .cta-highlight {
  color: #fff;
}

.pace {
  -moz-user-select: none;
  -webkit-pointer-events: none;
  -webkit-user-select: none;
  pointer-events: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffd141;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.pace .pace-progress-inner {
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px #ffd141, 0 0 5px #ffd141;
  display: block;
  height: 100%;
  opacity: 1.0;
  position: absolute;
  right: 0px;
  transform: rotate(3deg) translate(0px, -4px);
  width: 100px;
}

.pace .pace-activity {
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  -webkit-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
  border: solid 2px transparent;
  border-left-color: #ffd141;
  border-radius: 10px;
  border-top-color: #ffd141;
  display: block;
  height: 14px;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 14px;
  z-index: 2000;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.top-bar {
  background-color: #2d508e;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}

.top-bar .list-inline {
  margin: 0;
  padding: 0;
}

.top-bar .list-inline>li {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  float: left;
  position: relative;
  vertical-align: middle;
}

.top-bar .list-inline>li:last-child {
  border-right: 0px;
}

.top-bar .list-inline>li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
}

.top-bar .list-inline>li a img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.top-bar .list-inline>li a i {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.top-bar .list-inline>li a:hover {
  color: white;
}

.lang-dropdown.dropdown-menu {
  background-color: #fff;
  left: auto;
  list-style: none;
  margin-top: 0px;
  min-width: 150px;
  padding: 0px;
  right: 0;
  width: 150px;
  z-index: 9999;
}

.lang-dropdown.dropdown-menu>li>a {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  padding: 2px 20px;
}

.lang-dropdown.dropdown-menu>li>a img {
  margin-right: 10px;
}

.lang-dropdown.dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #2d508e;
}

.navbar-nav>li>a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  // font-weight: 500;
  text-transform: capitalize;
}

.navbar-default {
  background-color: #ffd141;
  border: 0;
  border-bottom: 1px solid #eee;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  margin: 0px;
  padding: 0px 0;
}

.navbar-default .navbar-nav>li>a {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  color: #666666;
  transition: all 0.2s;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #2d508e !important;
}

.navbar-brand {
  height: 75px;
}

.navbar-brand>img {
  margin-top: -2px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
  color: #2d508e !important;
}

.site-nav .navbar-nav>li>a {
  padding-bottom: 30px;
  padding-top: 30px;
}

.site-nav .navbar-nav>li>a:hover {
  background: #fff;
}

.right-icon-nav li {
  display: block;
  float: left;
  padding: 0px;
  position: relative;
}

.right-icon-nav li a {
  display: block;
}

.right-icon-nav li a i {
  font-size: 24px;
  margin-top: -10px;
  position: relative;
  top: 8px;
}

.right-icon-nav li a .label {
  position: absolute;
  right: 10px;
  top: 10px;
}

.search-form form {
  position: relative;
}

.search-form form button {
  background-color: transparent;
  border: 0px;
  color: #eee;
  height: 45px;
  line-height: 45px;
  position: absolute;
  right: 0;
  top: 0;
}

.search-form form button i {
  display: block;
}

.search-form form button:hover,
.search-form form button:focus {
  color: #2d508e;
  outline: 0px;
}

.sticky-header {
  left: 0;
  width: 100% !important;
  z-index: 999 !important;
}

.is-sticky .navbar-default.sticky-header {
  -webkit-box-shadow: 0 0 3px #C3C3C3;
  -webkit-transition: margin-top .5s ease-out;
  background: #ffd141;
  background: rgba(255, 209, 65, 0.9);
  border-bottom: 1px solid #DFDFDF;
  box-shadow: 0 0 3px #C3C3C3;
  transition: margin-top .5s ease-out;
}

.navmenu-default {
  background: #fff;
  border: 0px;
  box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.header-transparent {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-transparent .navbar-default {
  background: transparent;
  border-bottom: 0px;
}

.header-transparent .navbar-default .navbar-nav>li>a {
  color: #fff;
}

.header-transparent .navbar-default .navbar-brand {
  width: 150px;
}

.header-transparent .navbar-default .navbar-brand img {
  position: absolute;
}

.header-transparent .navbar-default .navbar-brand img.logo-scroll {
  opacity: 0;
}

.header-transparent .is-sticky .navbar-default {
  background: rgba(255, 255, 255, 0.9);
}

.header-transparent .is-sticky .navbar-default .navbar-nav>li>a {
  color: #333;
}

.header-transparent .is-sticky .navbar-default .navbar-brand img.logo-scroll {
  opacity: 1;
}

@media (min-width: 990px) {
  .navbar-center-logo {
    padding: 40px 0;
  }
  .navbar-center-logo .navbar-brand {
    left: 50%;
    margin-left: -46px !important;
    position: absolute;
    top: 0;
  }
}

.open>.dropdown-menu {
  z-index: 999999;
}

.dropdown-menu {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff;
  border: 0px;
  border-radius: 5px;
  min-width: 200px;
  padding: 0px;
  z-index: 999999;
}

.dropdown-menu>li>a {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 2px 20px;
  text-transform: capitalize;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: transparent;
  color: #2d508e;
}

.search-dropdown {
  background: #fff;
  left: auto;
  min-width: 250px;
  padding: 20px;
  right: 0;
}

.search-dropdown>li {
  float: none;
  width: 100%;
}

.mega-menu-list>li>a {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  padding: 1px 20px;
  text-transform: capitalize;
}

.mega-menu-list>li>a:hover,
.mega-menu-list>li>a:focus {
  background-color: transparent;
  color: #2d508e;
}

.breadcrumb {
  // margin: 32px 0;
  background-color: #fff;
  border-radius: 0;
}

.breadcrumb>li {
  color: #DBDBDB;
  font-size: 16px;
  font-weight: 400;
}

.breadcrumb>li+li:before {
  color: #ccc;
  content: "\003e";
  padding: 0 16px;
  font-weight: 400;
}

.breadcrumb>li>a {
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

.breadcrumb>li>a:hover {
  text-decoration: underline;
}

.category-box {
  display: block;
  overflow: hidden;
  position: relative;
}

.category-box .category-text {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background-color: transparent;
  height: auto;
  padding: 12px 15px 8px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}

.category-box .category-text h4,
.category-box .category-text p {
  margin: 0px;
}

.category-box .category-text h4 {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
}

.category-box .category-text p {
  color: #999;
}

.category-box:hover .category-text {
  background: #2d508e;
}

.category-box:hover .category-text h4,
.category-box:hover .category-text p {
  color: #fff;
}

.product-box {
  margin-bottom: 30px;
}

.product-box .product-thumb {
  background-color: #eee;
  display: block;
  overflow: hidden;
  position: relative;
}

.product-box .product-thumb img {
  display: block;
  margin: 0 auto;
}

.product-box .product-thumb .label {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  left: -1px;
  padding: 6px 10px;
  position: absolute;
  top: 20px;
  transition: all 0.3s;
  z-index: 1;
}

.product-box .product-thumb img {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-box .product-thumb .product-overlay {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 100%;
}

.product-box .product-thumb .product-overlay span {
  color: #fff;
  display: block;
  left: 0;
  margin-bottom: 0;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.product-box .product-thumb .product-overlay span .btn-default {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transform: scale(0);
  transition: all 0.2s;
}

.product-box .product-thumb .product-overlay span .btn-primary {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transform: scale(0);
  transition: all 0.4s;
}

.product-box:hover .product-thumb img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product-box:hover .product-thumb .product-overlay span .btn-default {
  transform: scale(1);
}

.product-box:hover .product-thumb .product-overlay span .btn-primary {
  transform: scale(1);
}

.product-box:hover .product-thumb .label {
  transform: scale(0);
}

.product-desc {
  padding: 15px 0 0;
}

.product-desc .product-price {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.product-desc h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  text-transform: capitalize;
  width: 50%;
}

.product-desc h5 a {
  color: rgba(0, 0, 0, 0.5);
}

.product-desc h5 a:hover {
  color: black;
}

.shop-list-media .media-left {
  float: left;
  margin-right: 20px;
  width: 226px;
}

.shop-list-media .media-body h3 {
  font-weight: 400;
}

.shop-list-media .media-body h3 a {
  color: #555;
}

.shop-list-media .media-body h1 {
  color: #999;
  font-size: 20px;
  font-weight: 300;
}

.features {
  background: #fff;
  padding: 40px 0;
  padding-bottom: 0px;
}

.icon-box-left {
  margin-bottom: 40px;
}

.icon-box-left h4 {
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.icon-box-left i {
  -moz-border-radius: 50%;
  -moz-transition: all 0.3s;
  -ms-border-radius: 50%;
  -o-transition: all 0.3s;
  -webkit-border-radius: 50%;
  -webkit-transition: all 0.3s;
  border: 1px solid #2d508e;
  border-radius: 50%;
  color: #2d508e;
  float: left;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  margin-right: 20px;
  text-align: center;
  transition: all 0.3s;
  width: 80px;
}

.icon-box-left p {
  margin: 0px;
}

.icon-box-left:hover i {
  background: #2d508e;
  color: #fff;
}

.topic-box {
  color: #999;
  display: block;
}

.topic-box h4 {
  margin-bottom: 5px;
  text-transform: capitalize;
}

.topic-box i {
  color: #2d508e;
  font-size: 40px;
  margin-right: 20px;
}

.topic-box:hover h4 {
  color: #2d508e;
}

.contact-icons i {
  margin-right: 20px;
}

.contact-icons p {
  margin: 0px;
}

.ms-timerbar {
  bottom: auto;
  top: 0;
}

.ms-skin-default .ms-time-bar {
  background: #2d508e;
  background-color: #2d508e !important;
  border-top: 0px;
  opacity: 0.5;
}

.full-width {
  width: 100%;
}

.title1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 70px;
  text-transform: capitalize;
}

.title1.white-color {
  color: #fff;
}

.sub-title2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.sub-title2.white-color {
  color: #fff;
}

.testimonials {
  background: #333;
  padding: 90px 0;
}

.testi-slider {
  overflow: hidden;
  position: relative;
}

.testi-slider p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  line-height: 32px;
}

.testi-slider h4 {
  color: #fff;
}

.testi-slider h4 small {
  color: rgba(255, 255, 255, 0.7);
}

.testi-slider.owl-theme .owl-controls {
  left: 0;
  margin-top: -30px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.testi-slider.owl-theme .owl-controls .owl-buttons div {
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: #2d508e;
  border-radius: 0px;
  color: #fff;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  width: 30px;
}

.testi-slider.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 0px;
  position: absolute;
}

.testi-slider.owl-theme .owl-controls .owl-buttons div.owl-next {
  position: absolute;
  right: 0px;
}

.cta-theme {
  background-color: #2d508e;
}

.newsletter-form form {
  position: relative;
}

.newsletter-form form .newsletter-button {
  background: transparent;
  border: 0px;
  color: #333;
  font-size: 20px;
  height: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
}

.login-register-box {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 30px 20px;
}

.login-register-box .divider {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  position: relative;
}

.login-register-box .or-text {
  background: #fff;
  color: #999ca4;
  display: inline-block;
  font-size: 14px;
  left: 50%;
  margin-left: -21px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
}

.login-register-box .form-control {
  padding-right: 40px;
}

.login-register-box .form-group {
  position: relative;
}

.login-register-box .form-group .icon {
  color: #ddd;
  position: absolute;
  right: 15px;
  top: 10px;
}

.login-register-box .checkbox label {
  padding-left: 0px;
}

.login-register-box .forget-paddword {
  display: inline-block;
  margin-top: 10px;
}

.social-buttons a {
  margin-top: 5px;
}

.post {
  background: #fff;
}

.post .blog-desc {
  padding: 15px;
}

.post .blog-desc h4 {
  margin: 8px 0;
}

.post .blog-desc h4 a {
  color: #253340;
}

.post .blog-desc h4 a:hover {
  color: #2d508e;
}

.post-meta {
  display: block;
  padding-left: 40px;
  position: relative;
}

.post-meta:before {
  background: #dadada;
  content: " ";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 27px;
}

.about-author {
  background-color: #f5f5f5;
  padding: 15px 15px;
}

.about-author img {
  margin-right: 15px;
}

.about-author p {
  margin: 0px;
}

.about-author h5 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

.comments-list li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 0;
}

.comments-list li:nth-child(even) {
  padding-left: 30px;
}

.comments-list li:last-child {
  border-bottom: 0px;
}

.comments-list img {
  margin-right: 15px;
  width: 50px;
}

.comments-list h5 {
  margin-bottom: 0px;
}

.comments-list span {
  display: block;
  margin-bottom: 5px;
}

.comments-list p {
  margin-bottom: 0px;
}

.quick-news-list>li {
  margin-bottom: 20px;
}

.quick-news-list .date {
  color: rgba(0, 0, 0, 0.3);
  float: left;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
  text-align: center;
  width: 60px;
}

.quick-news-list .date span {
  display: block;
  font-size: 40px;
}

.quick-news-list .content {
  overflow: hidden;
}

.quick-news-list .content a h4 {
  margin-bottom: 5px;
}

.quick-news-list .content a:hover h4 {
  color: #2d508e;
}

.quick-news-list .content .quick-meta a {
  color: rgba(0, 0, 0, 0.4);
}

.quick-news-list .content .quick-meta a:hover {
  color: #2d508e;
}

.sidebar-widget h4 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.sidebar-widget .list-unstyled>li>a {
  color: #999;
  padding: 4px 0;
}

.sidebar-widget .list-unstyled>li>a:hover {
  color: #2d508e;
}

.recent-post li {
  padding-bottom: 15px;
}

.recent-post img {
  float: left;
  margin-right: 15px;
}

.recent-post .post-content {
  overflow: hidden;
}

.recent-post .post-content h5 {
  font-weight: 400;
  margin-bottom: 0px;
}

.recent-post .post-content h5 a {
  color: #555;
}

.recent-post .post-content h5 a:hover {
  color: #2d508e;
}

.recent-post span {
  color: #999;
  display: block;
  font-size: 12px;
}

.tabs-nav li {
  padding: 0px 15px;
  padding-bottom: 20px;
}

.tabs-nav li a {
  border-bottom: 1px solid transparent;
  color: #999;
  display: block;
  font-family: "Roboto", sans-serif;
}

.tabs-nav li.active a {
  border-color: #2d508e;
  color: #2d508e;
}

.footer {
  background-color: #ffd141;
  clear: both;
  color: #2d508e;
  float: left;
  padding-bottom: 45px;
  padding-top: 40px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.footer img.logo {
  float: right;
  margin-bottom: 20px;
  width: 150px;
}

.footer h4 {
  color: #2d508e;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.footer .lead {
  margin-bottom: 0px;
}

.footer .lead small {
  color: rgba(255, 255, 255, 0.5);
}

.footer hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgba(255, 255, 255, 0.1);
}

.footer ul.list-inline {
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer ul.list-inline.terms {
  margin-top: 0px;
}

.latest-news {
  margin: 0;
}

.latest-news li {
  padding-bottom: 10px;
}

.latest-news li:last-child {
  padding-bottom: 0;
}

.latest-news .pull-left {
  margin-right: 10px;
}

.latest-news .content {
  overflow: hidden;
}

.latest-news .content h5 {
  font-size: 14px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.latest-news .content h5 a {
  color: #2d508e;
}

.latest-news .content h5 a:hover {
  text-decoration: underline;
}

.latest-news .content span a {
  color: #2d508e;
  font-size: 13px;
}

.latest-news .content span a:hover {
  text-decoration: underline;
}

.link-list {
  margin: 0;
}

.link-list li {
  padding-bottom: 4px;
}

.link-list li a {
  color: #ddd;
  display: block;
}

.link-list li a:hover {
  color: #fff;
}

.socials {
  margin: 0;
  padding-top: 20px;
}

.socials a {
  color: #ddd;
  font-size: 20px;
}

.socials a:hover {
  color: #fff;
}

.image-box {
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: block;
  overflow: hidden;
  position: relative;
}

.image-box img {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.image-box .img-overlay {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 100%;
}

.image-box .img-overlay h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  left: 0;
  letter-spacing: -1px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 50%;
  width: 100%;
}

.image-box:hover .img-overlay {
  background: rgba(0, 0, 0, 0.1);
}

.image-box:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.split-section {
  background: #000;
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  padding: 100px 0;
  position: relative;
}

.split-section h1 {
  color: #fff;
  font-weight: 300;
  letter-spacing: -1px;
  text-transform: capitalize;
}

.split-image {
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.support-form .btn-primary {
  height: 45px;
  line-height: 45px;
  padding: 0px 20px;
}

.faq-box {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

.faq-box p {
  margin-bottom: 0px;
}

.faq-box h4 {
  color: #555;
  font-style: italic;
  font-weight: 400;
}

.person-box {
  text-align: center;
}

.person-box h4 {
  text-transform: uppercase;
}

.person-box h4 small {
  font-size: 12px;
}

.error-404 {
  margin: 80px auto;
  max-width: 280px;
}

.error-404 i.material-icons {
  color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
}

.error-404 h4 {
  text-transform: uppercase;
}

.testi-box p {
  background: #f5f5f5;
  margin-bottom: 20px;
  padding: 20px 15px;
  position: relative;
}

.testi-box p:after {
  border: solid transparent;
  border-color: rgba(245, 245, 245, 0);
  border-top-color: #f5f5f5;
  border-width: 12px;
  content: " ";
  height: 0;
  left: 50px;
  margin-left: -12px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}

.testi-info h4 {
  font-size: 14px;
  font-weight: 700;
}

.testi-info img {
  margin-right: 10px;
}

.filter-row h4 {
  border-bottom: 1px dashed #eee;
  font-size: 14px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.filter-row ul li a,
.filter-row ul li span {
  color: #777;
  display: block;
  font-weight: 300;
}

.filter-row ul li a:hover,
.filter-row ul li span:hover {
  color: #2d508e;
}

.count-input {
  margin: 0px auto;
  position: relative;
  width: 100%;
}

.count-input input {
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ededed;
  border-radius: 0px;
  height: 36px;
  text-align: center;
  width: 100%;
}

.count-input .incr-btn {
  color: #606060;
  display: block;
  font-size: 18px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 36px;
}

.count-input .incr-btn:first-child {
  left: 0;
  right: auto;
}

.cart-table>tbody>tr>td {
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
}

.cart-table>thead>tr>th {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.item-name h4,
.item-price h4 {
  font-size: 16px;
}

.filter-row ul .color-filter {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: 10px;
}

.item-description span {
  display: block;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.tour-guests .tour-guest-section {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 24px;
  padding-top: 24px;
}

.tour-guests .tour-guest-section a {
  font-size: 18px;
}

.cart-subtotal-list {
  margin: 0px;
  padding: 0px;
}

.cart-subtotal-list li {
  padding: 7px 0;
}

.cart-subtotal-list span {
  display: inline-block;
  width: 120px;
}

.cart-subtotal-list span.lead {
  color: #000;
  margin: 0px;
}

.cart-totals {
  border: 1px solid #eee;
  color: #484848;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.cart-totals .cart-totals-section {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 24px;
  padding-top: 24px;
}

.cart-totals .cart-totals-section h3 {
  color: #484848;
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
}

.cart-totals .cart-section-header {
  font-size: 20px;
}

.cart-totals .cart-totals-prices {
  margin-left: -8px;
  margin-right: -8px;
}

.cart-totals .cart-totals-prices:before {
  content: " " !important;
  display: table !important;
}

.cart-totals .cart-totals-prices:after {
  clear: both !important;
  content: " " !important;
  display: table !important;
}

.cart-totals .cart-totals-prices .column {
  display: inline;
  float: left;
  font-size: 20px;
  line-height: 24px;
  line-height: 28px;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 100%;
}

.cart-totals .cart-totals-prices .column-label {
  width: 66.66666666666666%;
}

.cart-totals .cart-totals-prices .column-value {
  width: 33.33333333333333%;
}

.cart-totals .cart-totals-prices .column-full {
  width: 100%;
}

.cart-totals .cart-totals-prices .column-full label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.cart-totals .cart-totals-prices .column-full .fake-textbox {
  background-color: #ffffff;
  border-color: #DBDBDB;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #484848;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

.cart-totals .cart-totals-prices .column-full .fake-textbox .box-container {
  overflow: hidden;
  position: relative;
}

.cart-totals .cart-totals-prices .column-full .fake-textbox .box-container input {
  background-color: transparent;
  border: 0px !important;
  color: #484848;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding: 11px !important;
  width: 100%;
}

.cart-totals .cart-totals-prices .discount {
  font-size: 20px;
}

.cart-totals .discount a {
  font-size: 18px;
}

.cart-totals-m {
  display: none;
}

@media (max-width: 767px) {
  .cart-totals-m {
    background: #ffffff;
    border-top: 1px solid #D8D8D8;
    bottom: 0px;
    display: block;
    left: 0px;
    position: fixed;
    width: 100%;
  }
  .cart-totals-m .totals-columns {
    height: 80px;
  }
  .cart-totals-m .totals-columns a {
    font-size: 17px;
    font-weight: 600;
  }
  .cart-totals-m .totals-columns .totals-right {
    float: right;
    max-width: calc(100vw - 164px);
    min-width: 0px;
    padding-left: 16px;
  }
  .cart-totals-m .totals-columns .totals-left {
    min-width: 116px;
    overflow: hidden;
    padding-right: 8px;
    position: relative;
    top: 40px;
    transform: translateY(-50%);
  }
  .cart-totals-m .totals-columns .text {
    color: #484848;
    display: inline;
    margin: 0px;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
  }
  .cart-totals-m .totals-columns .text .total {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 18px;
  }
  .cart-totals-m .totals-columns .text .subtotal {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 16px;
  }
}

.payment-option label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
}

.account-sidebar h4 {
  color: #999;
}

.account-sidebar h4 span {
  color: #000;
}

.account-sidebar ul li a {
  color: #999;
  display: block;
  font-size: 16px;
  padding: 7px 0;
}

.account-sidebar ul li.active a {
  border-bottom: 1px solid #eee;
  color: #000;
}

.track-form {
  background: #f5f5f5;
  margin-top: 30px;
  padding: 30px 20px;
}

.ms-filters-template .ms-slide .slide-abs-text {
  bottom: 30px;
  left: 20px;
  position: absolute;
  z-index: 999;
}

.form-newsletter-lg .form-control {
  border: 0px;
  border-bottom: 2px solid #eee;
  padding-left: 0px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1199px) {
  .product-slider.owl-theme .owl-controls .owl-buttons div.owl-next {
    position: absolute;
    right: 0;
  }
  .product-slider.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: 0;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .space-80,
  .space-70,
  .space-60 {
    height: 40px !important;
  }
  .navbar-default {
    padding: 0px;
  }
  .split-section {
    text-align: center;
  }
  .split-image {
    width: 100%;
  }
  .sticky-header {
    height: auto !important;
  }
  .search-dropdown {
    position: absolute !important;
  }
  .sticky-header.navbar-default {
    background: #ffd141;
  }
  .header-transparent .navbar-default .navbar-brand img.logo-light {
    display: none;
  }
  .header-transparent .navbar-default .navbar-brand img.logo-scroll {
    display: block;
    opacity: 1;
  }
  .header-transparent .navbar-default .navbar-nav>li>a {
    color: #333;
  }
}

.img-container {}

.img-container img {
  display: block;
  margin: auto;
}

.booking {
  // margin-left: 4px;
  // margin-right: 4px;
}

.booking .img-container {
  width: 100%;
}

.booking .img-container img {
  object-fit: cover;
  width: 100%;
}

.booking .booking-details {
  font-size: 15px;
}

.booking .booking-title {
  color: #2d508e;
  font-size: 19px;
  font-weight: 600;
}

.booking .booking-date {}

.booking .booking-tour {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.booking .booking-address {}

.booking .booking-participants {}

.booking .booking-review-rating {
  color: #000;
  font-weight: 600;
}

.booking .booking-review {
  color: #333;
}

.booking .booking-price {
  color: #333;
  float: right;
  font-weight: 600;
}

.booking .booking-buttons {
  border-top: 1px solid #DBDBDB;
  margin-top: 10px;
  padding-top: 10px;
}

.booking .booking-buttons .btn-group {
  padding-left: 2px;
  padding-right: 2px;
}

.booking .booking-buttons .btn-group .btn {
  overflow: hidden;
}

@media (max-width: 767px) {
  .booking .btn-group-justified>.btn,
  .booking .btn-group-justified>.btn-group {
    float: left;
    margin-bottom: 3px;
    width: 100%;
  }
  .booking .booking-buttons .btn-group {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}


/* Breakpoint XS */

@media (max-width: 575px) {
  .hidden-xs-down,
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}


/* Breakpoint SM */

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-unless-xs,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}


/* Breakpoint MD */

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}


/* Breakpoint LG */

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-xl {
    display: none !important;
  }
}


/* Breakpoint XL */

@media (min-width: 1200px) {
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-xl-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg {
    display: none !important;
  }
}

// @media (max-width: 365px) {
//   .navbar-brand>img {
//     width: 140px;
//     margin-top: 12px;
//     margin-left: 10px;
//   }
// }


@media (max-width: 768px) {
  .load-more {
    width: 100%;
    margin-bottom: 25px;
  }
}

address {
  margin-bottom: 0rem;
}

.booking-buttons {
  .col {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.vdp-datepicker input {
  background-color: #fff !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg {
  background: #ffd141 !important;
}

.app-body {
  margin-bottom: 30px;
  min-height: 500px;
}

h1.title {
  margin: 25px 0;
}

.page-header {
  margin: 25px 0;
}

.custom-control {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
  min-height: 1.5rem;
  padding-left: 2rem;
  position: relative;
}

.card {
  border-radius: 4px;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin-bottom: 10px;
  .card-heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 10px;
    padding: 12px 15px;
    .card-title {
      font-size: 16px;
      margin-bottom: 0rem;
      a {
        float: right;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

.smalltext {
  margin-top: -0.25rem;
}
.footer .container .row {
  padding: 0 15px 0 24px;

    .col:last-child{
      text-align: right;
    }

    .widget{
      margin-bottom: 5px;

        a i:before{
          margin-right: 4px;
        }

        .widget-title {
          font-family: Roboto;
          font-size: 13px;
          font-weight: bold;
          line-height: 1.428
        }

        .textwidget {
          font-family: Roboto;
          font-size: 13px;
          line-height: 1.428

            img {
              padding: 0 0 20px;
            }

            a {
              display: block;
              line-height: 19px;
            }

            br {
              display: none;
            }
        }
    }
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -17px;
      margin-top: -3px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }


input[type="checkbox"]:disabled + .label-text:before{
  content: "\f0c8";
  color: #ccc;
}

.danger {
  color:red;
}

.auth0-lock-input-lang {
  display: none;
}